/* CSS declarations go here */

body {
	margin: 0;
}

.container {
}

.character {
	width: 73vw;
  position: absolute;
  top: 73px;
  bottom: 0px;
  left:1vw;
  overflow: scroll;
  padding-bottom: 100px;
}

.bio {
	margin-bottom: 20px;
}

.stuff {
	display: flex;
	flex-direction: row;
}

.stats {
	width: 25vw;
}

.itemHeader {
  display: flex;
  align-items: center;
}

.abilities {
	flex-grow: 1;
	overflow: scroll;
	margin-left: 50px;
}

.abilities .abilitiesHeader {
  display: flex;
  align-items: center;
}

.abilities .abilityEdit {
	margin: 0 20px 0 1px;
  padding: 0 0 10px 5px;
}

.abilities .abilityNameRow {
  display: flex;
  align-items: center; 
}


.smallAdd {
  height: 5em;
  width: 5em;
}

.NavBar {

}

.chatLog .log-container {
	position: fixed;
  bottom: 1vh;
  top: 73px;
  right: 1vw;
  width: 24vw;
}

.chatLog .log {
	height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-color: #F5F5F5;
}

.chatText {
  min-height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
