/* CSS declarations go here */

body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.character {
	width: 75vw;
	padding: 0 10px;
}

.bio {
	margin-bottom: 20px;
}

.stuff {
	display: flex;
	flex-direction: row;
}

.stats {
	min-width: 25vw;
}

.items {
	min-width: 25vw;
}

.abilities {
	flex-grow: 1;
	overflow: scroll;
	margin-left: 50px;
}

.abilities .abilityEdit {
	flex-direction: column;
}

.NavBar {

}

.chatLog {
	width: 25vw;
}

.chatLog .log-container {
	position: fixed;
  bottom: 1vh;
  top: 69px;
  right: 1vw;
  width: 24vw;
  display: flex;
}

.chatLog .log {
	display: flex;
  flex-grow: 1;
  overflow: scroll;
  flex-direction: column-reverse;
}
