/* CSS declarations go here */

body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
  margin-bottom: 100px;
}

.character {
	width: 75vw;
	padding: 0 10px;
}

.bio {
	margin-bottom: 20px;
}

.stuff {
	display: flex;
	flex-direction: row;
}

.stats {
	width: 25vw;
}

.items {
	width: 25vw;
}

.abilities {
	flex-grow: 1;
	overflow: scroll;
	margin-left: 50px;
}

.abilities .abilityEdit {
	margin: 0 20px 0 1px;
  padding: 0 0 10px 5px;
}

.NavBar {

}

.chatLog {
	width: 25vw;
}

.chatLog .log-container {
	position: fixed;
  bottom: 1vh;
  top: 73px;
  right: 1vw;
  width: 24vw;
}

.chatLog .log {
	height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
